asgiref==3.5.0
attrs==21.4.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.11
cmd2==2.3.3
distlib==0.3.4
Django==4.0.2
docopt==0.6.2
filelock==3.4.2
idna==3.3
joblib==1.1.0
Mypackage==0.1
numpy==1.22.2
pandas==1.4.1
Pillow==9.0.1
pipenv==2022.1.8
pipreqs==0.4.11
platformdirs==2.5.0
pyperclip==1.8.2
pyreadline3==3.4.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2021.5
urllib3==1.26.8
virtualenv==20.13.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
yarg==0.1.9
